{% extends 'base.html' %}
{% load static %}


{% block styles %}
{{block.super}}

{% endblock styles %}


{% block content %}
{{block.super}}


{% if user.is_authenticated %}
<div class="container">
    <h1 class="text-center">Welcome to AudRate</h1>

    <div class="row">
        {% for project in projects %}
        <div class="col-md-6">
            <div class="card">
                <a href="{% url 'project_view' project.id %}">
                    <div class="card-title">
                        <img src="{{ project.image.url }}" alt="{{ project.title }}">
                    </div>
                            
                    <div class="card-body">
                       <a href="/project/{{ project.id }}"> <h4>{{ project.title }} </h4> </a>
                       <p> Project by : <strong> {{ project.author.user.username }} </strong> </p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% else %}
<div class="container">
    <h1 class="text-center text-white">Welcome to AudRate</h1>
    <h2 class="text-white">Please <a href="/accounts/register">register</a> or <a href="/accounts/login">login</a> to view your profile page.</h2>
</div>
{% endif %}

{% endblock content %}