{% extends 'base.html' %}
{% load static %}


{% block styles %}
{{block.super}}

<link rel="stylesheet" href="{% static 'css/my_profile.css' %}">

{% endblock styles %}


{% block content %}
{{block.super}}

{% if current_user.is_authenticated %}

<div class="container">
    <div class="profile-description">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <h3>{{ user.profile.bio }}</h3>
    </div>
    <br>

    <div class="contacts">
        <p>Phone number: {{ user.phone_number }}</p>
        <a href="/{{ user.email }}">Email: {{ user.email }}</a>
        <a href=""><i class="fab fa-github"></i></a>
    </div>
    <br>

    <a href="{% url 'update_profile' %}"><button class='btn btn-dark'>Edit Profile</button></a>
    <a href="{% url 'logout' %}"><button class='btn btn-dark'>Logout</button></a>
</div>

<div class="container">
    <div class="row">
        {% for project in projects %}

        <div class="col-md-6">
            <div class="card">
                <a href="{% url 'project_view' project.id %}">
                
                    <div class="card-title">
                        <img src="{{ project.author.avatar.url }}" alt="">
                        <h4>{{ project.title }}</h4>
                    </div>

                    <div class="card-body">
                        <img src="{{ project.image.url }}" alt="{{ project.title }}">
                    </div>

                    <p>{{ project.author.user.first_name }} {{ project.author.user.last_name }}</p>

                </a>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% else %}

<div class="container">
    <h2>Please Sign in to view your profile page.</h2>
</div>

{% endif %}

{% endblock content %}