{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}


{% block styles %}
{{block.super}}

{% endblock styles %}


{% block content %}
{{block.super}}

<div class = "container">
    <div class = "row">
        {% if projects %}

            <h2>Found {{projects|length }} of searched term {{message}}</h2>
        {% else %}
            <h2> Found 0 projects for the search term {{message}}</h2>
        {% endif %}
    </div>

    <div class = "row">
        {% if projects %}

            {% for project in projects %}

                <a href="{% url 'project_view' project.id %}">
                    <div class="project-card">
                        <div class="image">
                            <img src="{{ project.image.url }}" alt="{{ project.name }}">
                        </div>

                        <div class="project-desc">
                            <div class="author">
                                <div class="avatar-sm">
                                    <img src="{{ project.author.avatar.url }}" alt="">
                                </div>

                                <p>{{ project.author.user.first_name }} {{ project.author.user.last_name }}</p>
                            </div>

                            <h4>{{ project.name }}</h4>
        
                        </div>        
                    </div>        
                </a>
            
            {% endfor %}

        {% endif %}

    </div>
</div>

{% endblock content %}